.portfolio-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.portfolio-footer-inner {
  width: 100%;
}

.portfolio-footer-text {
  display: block;
  text-align: center;
  font: var(--portfolio-text-b3);
  width: 100%;
}

/* Tablet */
@media (max-width: 1024px) {
  .portfolio-footer {
    height: 80px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .portfolio-footer {
    height: 80px;
  }
}

