.portfolio-footer {
  display: block;
  height: 40px;
}

.portfolio-footer-inner {
  display: block;
}

.portfolio-footer-text {
  display: block;
  text-align: center;
  font: var(--portfolio-text-b3);
}

/* Tablet */
@media (max-width: 1024px) {
  .portfolio-footer {
    height: 36px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .portfolio-footer {
    height: 32px;
  }
}


