.project-page {
  grid-auto-rows: auto;
}

.project-page-section {
  display: block;
  grid-column: 1 / -1;
}

.project-page-heading {
  display: block;
}

.project-page-content {
  display: block;
}

